*{
margin: 0;
padding: 0;
}
body{ font-family: 'Anek Latin', sans-serif;
}
a{text-decoration: none;}
/*header section design*/
.header{
width: 100%;
/*position: fixed;*/
position: fixed;
background-color: white;
top: 0 ;
}
.container{
width: 1140px;
margin: auto;
/*width define kore majkhane
ante chaile margin: auto, otherwise
text align: center*/
}
.navbar{
display: flex;
justify-content: space-between;
}
.menu{
margin-right: 400px;
}
.menu ul li {
list-style: none;
display: inline-block;
margin-right: 18px;
}
.menu ul li a{
line-height: 52px;
font-weight:500;
color: black;
display: inline-block;
transition: 2s;
}
.menu ul li a:hover{
color: tomato;
display: inline-block;
transform: scale(1.2);
transition: 0.6s;
}
.button .btn1 {
line-height: 52px;
color: white;
background-color: tomato;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 16px;
padding-right: 16px;
border-radius: 4px;
}
.button .btn1:hover{
color: white;
background-color: #091a07;

}
/*banner section design*/
.first-part{
display: flex;
margin-top: 150px;
justify-content: space-between;
}
.left{
margin-top: 45px;
}
.left h2 {
font-size: 36px;
margin-bottom: 30px;
}
.left p{
color: grey;
}
.right img{
max-width: 100%;
height: auto;
}
/*stunnig section design*/
.stunnig{
width: 100%;
margin-top: 200px;
margin-bottom: 50px;
}
.top-part h2{
text-align: center;
}
.top-part p{
text-align: center;
color: grey;
}
/*pages section design*/
.pages{
width: 100%;
margin-bottom: 180px;
}
.p-content {
display: grid;
grid-template-columns: auto auto auto auto;
column-gap: 30px;
}
.i1{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.i2 {
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.i3 {
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.i4 {
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.p-content img{
max-width:100% ;
height: auto;
}
.named{
display: flex;
justify-content: space-around;
}
.named {
color: grey;
padding-top: 30px;
text-align: center;
}
.h2{
margin-left: 30px;
}
.h3{
margin-left: 30px;
}
/*features section design*/
.features{
width: 100%;
}
.description h2{
text-align: center;
margin-bottom: 10px;
}
.description p{
text-align: center;
color: grey;
margin-bottom: 70px;
}
/*grid section design*/
.grid{
width: 100%;
margin-bottom: 100px;
}
.g-content{
display: grid;
grid-template-columns: auto auto auto ;
column-gap: 30px;
grid-row-gap:30px;
text-align: center;
}
.g-item {
background-color: #f5f5f5;
height: 170px;
width: 345px;
padding-bottom: 20px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
border-radius: 6px;
}
.bg1:hover{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
cursor: pointer;
}
.bg2:hover{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
cursor: pointer;
}
.bg3:hover{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
cursor: pointer;
}
.bg4:hover{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
cursor: pointer;
}
.bg5:hover{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
cursor: pointer;
}
.bg6:hover{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
rgba(0, 0, 0, 0.09) 0px 32px 16px;
cursor: pointer;
}
.g-item h4 {
margin-top: 5px;
margin-bottom: 5px;
}
.g-item p{
color: grey;
}
.g-item a i{
height: 40px;
width: 40px;
background-color: white;
line-height: 40px;
border-radius: 100%;
font-size: 16px;
margin:10px 6px ;
transition: 0.5s;
}
.g-item a i:hover{
background-color: darkorange;
transition: 0.5s;
/*transform: scale(1.3);*/
transform: rotate(360deg);
/*u can use anyone of this*/
}
/*footer section design*/
.footer{
width: 100%;
background-color: #292640;
/*padding-bottom: 100px;*/
}
.purchase h1{
padding-top: 50px;
text-align: center;
color: white;
}
/*.btn2 {
line-height: 52px;
color: white;
background-color: tomato;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 16px;
padding-right: 16px;
border-radius: 4px;
}*/
.button2{
text-align: center;
margin-top: 18px;
}

/*.button2 .btn2 er mane holo folder er
modhhe subfloder ke niye kaj kora.. that 
means .button2 er modhhe dhuke .btn2 niye
kaj kora*/
.button2 .btn2{
line-height: 52px;
color: white;
background-color: tomato;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 16px;
padding-right: 16px;
border-radius: 4px;
}
.btn2:hover{
	background-color: white;
	color: #091a07;
}
/*copyright section design*/

.cright{
	width: 100%;
	background-color:#292640 ;
	text-align: center;
	padding-top: 50px;

}
.cright p{
	color: whitesmoke;
	font-weight: 300;
	font-size: 14px;
}
.cright span{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: bright;
}

.cright i{
	height: 40px;
    width: 40px;
    background-color: white;
    line-height: 40px;
    border-radius: 100%;
    font-size: 16px;
    margin:10px 6px ;
    transition: 0.5s;
 
}
.cright i:hover{
	background-color: darkorange;
	transition: 0.5s;
	transform: rotate(360deg);
}
	/*transform: scale(1.3);
	transform: rotate(360deg);
	/*u can use anyone of this
